@charset "UTF-8";
/* CSS Document */
body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	/*background-color:white;*/
	margin: 0;
	padding: 0;
	color: #000;
	height:100%;
	/*background-color:black;*/
	background: url(imagenes/background.png) no-repeat center center fixed; 
	webkit-background-size: cover;
	moz-background-size: cover;
	background-size: cover;
	background-size: cover;
	min-width:1000px;
}

a{
	display:inline-block;
	cursor: pointer;
	}

img {
	width:100%;
	}

.titulo{
	width:90%;
	margin-top:20px;
	}

.fade .front{
	z-index: 9999;
    transition: opacity .5s linear;
    cursor: pointer;
	}
	
.fade:hover > .front{
  opacity: 0;
}

.fade{
	}
	
.inicio {
	width:60%;
	position: fixed; /* or absolute */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0 4px 100px 0 rgba(0, 0, 0, 1), 0 6px 100px 0 rgba(0, 0, 0, 0.19);

	}
.back {
	width:60%;
	position: fixed; /* or absolute */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	}
